<div class="holdings-box">
    <h1>Holdings</h1>

    <div class="subheadings">
        <div class="positions">
            <h3>Positions</h3>
            <p>APPL</p>
        </div>

        <div class="total-value">
            <h3>Total Value</h3>
            <p>$222</p>
        </div>

        <div class="todays-price">
            <h3>Today's Price</h3>
            <p>$222</p>
        </div>

        <div class="all-price">
            <h3>All Time Return</h3>
            <p>$0</p>
        </div>
    </div>
</div>