$sidebar-bg: #3E0E40;  
$text-color: #FFFFFF;  
$hover-bg: #4A154B;  

.sidebar {
    width: 13rem;
    height: 93vh;
    background-color: $sidebar-bg;
    color: $text-color;
    padding: 1rem;
    box-sizing: border-box;
}

.sidebar ul {
    list-style: none;
    padding: 0;
     
    li {
        margin-bottom: 1rem; // Vertical spacing between links

        a {
            text-decoration: none; // Removes underscore
            color: $text-color;
            padding: 0.5rem 1rem; // Padding - vertical, horizontal
            display: block;
            transition: background-color 0.3s;
            border-radius: 0.5rem;

            &:hover {
                background-color: $hover-bg;
            }
        }
    }
}
